@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

html {
  font-size: 62.5%; /*10px / 16px = 0.625  */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ol,
ul {
  list-style: none;
}
